.playlist-icon {
  font-size: 2.5rem;
  padding: 20px;
  margin: 0;
  background-color: #f223;
  border: 3px outset #f22;
  border-radius: 5%;
  width: 105px;
  height: 105px;
}

.playlist-icon i {
  padding: 0;
}

/* .playlist-icon ::before {
  content: "\f51f";
} */


.bg-dark-07 {
  background-color: rgba(0, 0, 0, 0.7);
}

.title {
  font-family: 'Lobster', cursive;
  font-size: 5rem;
  text-transform: capitalize;

}

.tag-item {
  cursor: pointer !important;
}

.playlists-box {
  height: 650px;
  width: 100%;
  overflow: auto;
  overflow-x: hidden
}
