<div *ngIf="loading == false" class="loading d-flex text-center justify-content-center">
  <p><i class="fas fa-compact-disc fa-spin"></i> Veuillez patientez ...</p>
</div>

<div class="alert alert-secondary">

  <h1>
    <ng-container *ngIf="playlist && playlist.id !== null">Modifier la playlist {{playlist.title}}</ng-container>
    <ng-container *ngIf="!playlist">Ajouter une playlist</ng-container>

  </h1>

  <form [formGroup]="form" (ngSubmit)="handleSubmit()">
    <div class="form-group"><input type="text" class="form-control" placeholder="Titre de la playlist"
        formControlName="title" [class.is-invalid]="form.get('title').errors && form.get('title').touched">
      <p class="invalid-feedback" *ngIf="form.get('title').errors && form.get('title').touched">Ce champs est
        obligatoire</p>
    </div>
    <div class="form-group"><textarea class="form-control" placeholder="Description de la playlist"
        formControlName="decription" [class.is-invalid]="form.get('title').errors && form.get('title').touched">
       </textarea>
      <p class="invalid-feedback" *ngIf="form.get('title').errors && form.get('title').touched">Ce champs est
        obligatoire</p>
    </div>

    <div class="form-group">
      <span (click)="toggleTag(tag.id)" class="tag badge mx-2 mb-4" [class.badge-info]="!isInTagArray(tag.id)"
        [class.badge-success]="isInTagArray(tag.id)" [class.badge-pill]="isInTagArray(tag.id)"
        *ngFor="let tag of tags">{{tag.title}}</span>
      <input type="hidden" formControlName="tags" value="{{tagArray}}">
    </div>


    <button type="submit" class="btn btn-success">Enregistrer</button>

  </form>
</div>
