<div class="alert bg-dark-07 d-flex flex-column container text-center box-title">

  <div class="d-flex align-items-center justify-content-around">
    <div class="w-50 text-right">
      <h2 class="home-title">I <i class="fas fa-heart fa-lg mx-5" style="color: #ff2222;"></i></h2>
    </div>
    <div class="w-50 text-left">
      <p class="home-title" id="word">ShareTune</p>
    </div>
  </div>
  <div class="border-bottom align-items-center my-5"></div>
  <h3 class="slogan">Creez les playlists qui vous ressemble</h3>
</div>
<div class="row justify-content-around align-items-start">
  <div
    class="alert alert-warning rounded d-flex flex-column align-items-center justify-content-around align-self-stretch col-2-custom-box">
    <div class="home-card mb-3 align-content-center">

      <i class="fas fa-play fa-lg"></i>
    </div>
    <h5 class="text-center">Créez vos playlists rapidement et simplement</h5>
  </div>
  <div
    class="alert alert-warning rounded d-flex flex-column align-items-center justify-content-around align-self-stretch col-2-custom-box">
    <div class="home-card mb-3 align-content-center">

      <i class="fas fa-link fa-lg"></i>
    </div>
    <h5 class="text-center">Importez vos video via une simple URL</h5>
  </div>
  <div
    class="alert alert-warning rounded d-flex flex-column align-items-center justify-content-around align-self-stretch col-2-custom-box">
    <div class="home-card mb-3 align-content-center">

      <i class="fas fa-heart fa-lg"></i>
    </div>
    <h5 class="text-center">Taggez vos playlists selon vos gouts</h5>
  </div>
  <div
    class="alert alert-warning rounded d-flex flex-column align-items-center justify-content-around align-self-stretch col-2-custom-box">
    <div class="home-card mb-3 align-content-center">

      <i class="fas fa-search fa-lg"></i>
    </div>
    <h5 class="text-center">Et retrouvez les facilement grâce à l'outil de recherche</h5>
  </div>
</div>
<!-- <div class="alert bg-dark-07 row d-flex justify-content-around align-items-center">
  <div>
    <h3>Envi de découvrir quelque chose de nouveau ?</h3>
    <p>Choisissez une playlist parmis cette selection</p>
  </div>
  <div class="col-5 alert alert-warning text-center mb-0" *ngFor="let playlist of playlists">
    <h4 class="mb-0"><a routerLink="/playlist/{{playlist.id}}" class="text-decoration-none">{{playlist.title}}</a></h4>
  </div>
</div> -->
