.home-title {
  font-size: 6rem;
}

.slogan {
  font-size: 4rem;
}

.bg-dark-07 {
  background-color: rgba(0, 0, 0, 0.7);
}

#word {
  width: 10 rem;
}

.box-title {
  padding: 8rem 3rem;
  box-shadow: #000 1px 1px 6px 1px;

}

.home-card {
  font-size: 2.5rem;
  padding: 20px 28px;
  margin: 0;
  background-color: #f223;
  border: 3px outset #f22;
  border-radius: 5%;
}

.home-card i {
  color: white;

}

.col-2-custom-box {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-flex: 0;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  max-width: 23%;
  box-shadow: #000 0px 0px 6px 1px;

  transition: all 300ms;
}
