<div *ngIf="loading == false" class="loading d-flex text-center justify-content-center">
  <p class=""><i class="fas fa-compact-disc fa-spin"></i> Veuillez patientez ...</p>
</div>
<div class="alert alert-secondary bg-dark-07 row">
  <div class="col text-center d-flex flex-column">
    <h2 class="mb-3"> {{user?.name}} <div *ngIf="userLocal.id == user?.id" class="btn-group" role="group"
        aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-outline-danger"><i class="fas fa-cog cog-icon"></i></button>
        <div class="btn-group" role="group">
          <button id="btnGroupDrop" type="button" class="btn btn-outline-danger dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"></button>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop">
            <a class="dropdown-item text-decoration-none point" routerLink="#">modifier le profil</a>
            <a class="dropdown-item text-decoration-none point" routerLink="/playlist/new">Ajouter une playlist</a>
          </div>
        </div>
      </div>
    </h2>
    <div *ngIf="loading == true"
      class="profile-image-box d-flex align-items-center justify-content-center rounded-circle align-self-center">
      <img src="{{user?.profilePicture}}" alt="image de {{user?.name}}" class="profile-image text-center">
    </div>
    <img *ngIf="loading == false" src="./../../assets/img/logo.png" alt="image de {{user?.name}}"
      class="profile-image-loading rounded-circle">
    <h4 class="mt-5">A propos:</h4>
    <p class="mt-3 text-left">{{user?.description}}</p>
  </div>
  <div class="col">
    <h2 class="text-center">Playlists</h2>

    <ngx-simplebar id="playlist-box" class="playlist-box">
      <div *ngFor="let playlist of user?.playlists" routerLink="/playlist/{{playlist.id}}"
        class="playlist d-flex align-items-center my-4">
        <div class="playlist-icon text-center"><i class="fas fa-compact-disc fa-spin"></i></div>
        <div>
          <h3 class="ml-3">
            {{playlist.title}}({{playlist.songs.length}}
            morceaux)</h3>
        </div>
      </div>

      <div routerLink="/playlist/new" class="playlist d-flex align-items-center my-4">
        <div class="playlist-icon text-center"><i class="fas fa-compact-disc fa-spin"></i></div>
        <div>
          <h3 class="ml-3">
            Ajouter une nouvelle playlist</h3>
        </div>
      </div>
    </ngx-simplebar>
  </div>
</div>
